syntax: glob
*.orig
*.suo
.git
Build/
Documentation/Documentation/*
Documentation/Artifacts/*
Documentation/Manual/_build/*
Configuration/Configuration/bin/**
Configuration/Configuration/obj/**
Artifacts/**
BP Files/Page.cpp
BP Files/RetroFE.cpp
RetroFE/Source/Graphics/Page.cpp
RetroFE/Source/RetroFE.cpp
/.vs/RetroFE-MF-Dev/v17
