syntax: glob
*.orig
*.suo
.git
Build/
Documentation/Documentation/*
Documentation/Artifacts/*
Documentation/Manual/_build/*
Configuration/Configuration/bin/**
Configuration/Configuration/obj/**
Artifacts/**
BP Files/Page.cpp
BP Files/RetroFE.cpp
/.vs
/RetroFE/Builds
/RetroFE/Build2
.DS_Store
.vscode/settings.json
